<h1>Login</h1>

<section class="login-Form">
    <h2 class="titlePage">Login to JobsRUs</h2>
    <form class="loginForm">
        <section class="usernameGroup">
            <label for="user-login">Username:</label>
            <input class="userInput" type="text" id="user-login" />
        </section>
        <section class="passwordGroup">
            <label for="password-login">Password:</label>
            <input class="passwordInput" type="text" id="password-login" />
        </section>
        <button class="btn">

        </button>
    </form>
</section>

<script src="/js.login.js"></script>