<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Jobs R Us!</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            
                {{#if loggedIn}}
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/list">Post a Job</a>
            </li>
            <li>
                <button id="logout-btn" class="logout-btn">Logout</button>
            </li>
                {{else}}
            <li>
                <a href="/login">Login</a>
            </li>
                {{/if}}
        </ul>
    </nav>
<main>
    <div class="main">
    {{{body}}}
    </div>
</main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>