<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Jobs R Us!</h1>
    </header>
    <nav>
        <a href="/">Homepage</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a href="/list">Post a Job</a>
        <button id="logout-btn" class="logout-btn">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
    </nav>
<main>
    <div class="main">
    {{{body}}}
    </div>
</main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>