<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs R Us</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Jobs R Us</h1>
    </header>
    <nav class="navbar">
        <ul>
            
            
                {{#if loggedIn}}
                <li><label for="searchfield">Search for Job titles</label>
                    <input type="text" id="searchfield"   />
                    <button class="btn" type="submit" id="search">Search</button>
                    {{!-- Need help here --}}
                    </li>
            <li>
                <a href="/dashboard">Dashboard</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
            <li>
                <a id="logout">Logout</a>
            </li>
                {{else}}
            <li>
                <a href="/login">Login</a>
            </li>
                {{/if}}
               <li>
                <a href="/">Homepage</a>
            </li> 
        </ul>
    </nav>
<main>
    <div class="main">
    {{{body}}}
    </div>
</main>
{{#if loggedIn}}
<script src="/js/search.js"></script>
<script src="/js/logout.js"></script>

{{/if}}
</body>

</html>