<div>
    <form id="application-form">
        <h2>{{job.job_title}} Application</h2>
            <section class="formArea" id="app-firstName">
            <label for="applicationFirstName">First Name:</label>
            <input class="formInput" type="text" id="applicationFirstName" />
        </section>
        <section class="formArea" id="app-lastName">
            <label for="applicationLastName">Last Name:</label>
            <input class="formInput" type="text" id="applicationLastName" />
        </section>
        <section class="formArea" id="app-email">
            <label for="applicationEmail">Email:</label>
            <input class="formInput" type="text" id="applicationEmail" />
        </section>
        <section class="formArea" id="app-experience">
            <label for="applicationExperience">Work Experience:</label>
            <input class="formInput" type="text" id="applicationExperience" placeholder="Please enter your previous work experience..."/>
        </section>
        <section>
            <button class="applyBtn btn" type="submit">Apply</button>
        </section>
    </form>
</div>

<script src="/js/apply.js"></script>