<h1>Write Your Review</h1>

<div>
    <form id="reviewForm">
        <section>
          <h4>First Name:</h4>
          <input type="text" id="firstName">
        <section>
          <h4>Last Name:</h4>
          <input type="text" id="lastName">
        <section class="formArea" id="ratingScale">
          <h4>Out of 5, please give your rating</h4>
          <input type="text" id="reviewRating">
        </section>
        <section class="formArea">
            <label for="reviewText">Tell us about your time here</label>
            <input class="formInput" type="text" id="reviewText" placeholder="Write your review here">
        </section>
        <button class="btn" id="userBtn">Submit Review</button>
    </form>
</div>

<script src="/js/review.js"></script>