<h2>Create Your Job Listing Below</h2>

<div>
    <form class="postJob-form">
        <div>
            <h3>Job Title:</h3>
            <input class="jobTitleInput" type="text" placeholder="Enter the job title..."/>
        </div>
        <div>
            <h3>Salary:</h3>
            <input class="jobSalaryInput" type="text" placeholder="Enter the salary (numbers only)..."/>
        </div>
        <div>
            <h3>Job Description:</h3>
            <input class="jobDescriptionInput" type="text" placeholder="Enter the job description..."/>
        </div>
        <div>
            <h3>Job Requirements:</h3>
            <input class="jobTitleInput" type="text" placeholder="Enter the job requirements..."/>
        </div>
        <button class="btn createJobBtn" type="submit">Post Job</button>
    </form>
</div>

<script src="../../public/js/postJob.js"></script>