<h1>Write Your Review</h1>

<div>
    <form id="userReview">
        <section class="formArea" id="ratingScale">
          <h4>Please select your rating</h4>
          <input type="radio" id="oneStar" class="radio" value="oneStar">
          <label for="oneStar">1 star</label><br>
          <input type="radio" id="twoStar" class="radio" value="twoStar">
          <label for="twoStar">2 stars</label><br>
          <input type="radio" id="threeStar" class="radio" value="threeStar">
          <label for="threeStar">3 stars</label><br>
          <input type="radio" id="fourStar" class="radio" value="fourStar">
          <label for="fourStar">4 stars</label><br>
          <input type="radio" id="fiveStar" class="radio" value="fiveStar">
          <label for="fiveStar">5 stars</label>
        </section>
        <section class="formArea" id="ratingText">
            <label for="ratingText">Tell us about your time here</label>
            <input class="formInput" type="text" id="ratingText" placeholder="Write your review here">
        </section>
        <button class="btn" id="userBtn">Submit Review</button>
    </form>
</div>