<h1>Login</h1>

<section class="loginForm">
    <h2 class="titlePage">Login to JobsRUs</h2>
    <form class="formCard" id="loginForm">
        <section class="formArea">
            <label for="emailLogin">Email:</label>
            <input class="formInput" type="text" id="emailLogin" />
        </section>
        <section class="formArea">
            <label for="passwordLogin">Password:</label>
            <input class="formInput" type="password" id="passwordLogin" />
        </section>
        <section>
            <button class="btn" id="loginBtn" type="submit">Login</button>
        </section>
    </form>
</section>
<section class="signupForm">
    <h2 class="titlePage">Don't have an account? Sign up for free!</h2>
    <form class="formCard">
        <section class="formArea" id="signupFirstname">
            <label for="firstnameSignup">First Name:</label>
            <input class="formInput" type="text" id="firstnameSignup">
        </section>
        <section class="formArea" id="signupLastname">
            <label for="lastnameSignup">Last Name:</label>
            <input class="formInput" type="text" id="lastnameSignup">
        </section>
        <section class="formArea" id="signupEmail">
            <label for="emailSignup">Email:</label>
            <input class="formInput" type="text" id="emailSignup">
        </section>
        <section class="formArea" id="signupPassword">
            <label for="passwordSignup">Password:</label>
            <input class="formInput" type="password" id="passwordSignup">
        </section>
        <section>
            <button class="btn" id="signupBtn" type="submit">Signup</button>
        </section>
    </form>
</section>

<script src="/js.login.js"></script>