<h1>Login</h1>

<section class="login-Form">
    <h2 class="titlePage">Login to JobsRUs</h2>
    <form class="formCard" id="loginForm">
        <section class="formArea" id="usernameArea">
            <label for="userLogin">Username:</label>
            <input class="formInput" type="text" id="userLogin" />
        </section>
        <section class="formArea" id="passwordArea">
            <label for="passwordLogin">Password:</label>
            <input class="formInput" type="text" id="passwordLogin" />
        </section>
        <section>
            <button class="loginBtn" type="submit">Login</button>
        </section>
    </form>
</section>
<section class="signupForm">
    <h2 class="titlePage">Don't have an account? Sign up for free!</h2>
    <form class="formCard">
        <section class="formArea" id="signupUsername">
            <label for="usernameSignup">Username:</label>
            <input class="formInput" type="text" id="usernameSignup">
        </section>
        <section class="formArea" id="signupEmail">
            <label for="emailSignup">Email:</label>
            <input class="formInput" type="text" id="emailSignup">
        </section>
        <section class="formArea" id="signupPassword">
            <label for="passwordSignup">Password:</label>
            <input class="formInput" type="text" id="passwordSignup">
        </section>
    </form>
</section>

<script src="/js.login.js"></script>