<div>
    <form id="userReview">
        <h2>Tell us about{{job_title}}</h2>
        <section class="formArea" id="ratingTitle">
            <label for="ratingTitle">Title your review</label>
            <input class="formInput" type="text" id="ratingTitle" placeholder="Write your review title here">
        </section>
        <section class="formArea" id="ratingScale">
            <label for="ratingTitle">How was your experience?</label>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
           <span class="fa fa-star"></span>
        </section>
        <section class="formArea" id="ratingText">
            <label for="ratingText">Tell us about your time here</label>
            <input class="formInput" type="text" id="ratingText" placeholder="Write your review here">
        </section>
        <button class="btn" id="userBtn">Submit Review</button>
    </form>
</div>