:root {
    --color01: #1c8fac;
    --color02: #06425a;
    --color03: #a1f1fc;
    --color04: #000000;
    --color05: #bcd7db;
    --color06: #11f7ff;
    --color07: #136297;
    --color08: #456b81;
    --color09: #ffffff;  
    --border-radius: 0.4rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: auto;
    justify-content: flex-start;
    background-color: lightslategray;
}

header {
    padding: 40px;
    text-align: center;
    background: var(--color02);
    color: var(--color09);

}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

li {
    margin: 0px 20px;
    color:  var(--color09);
}

h2 {
    text-align: center;
    justify-content: center;
}

nav {
    justify-content: end;
    display: flex;
    color: var(--color05);
    background-color: var(--color08);
}

button {
    background-color: var(--color01);
    color: var(--color03);
    border-radius: 5%;
}

button:hover {
    box-shadow: var(--color06);
}

input[type=text] {
    width: 800px;
    margin: 20px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color02);

}

.btn {
    width: 100px;
    font-size: large;
}
#applicationExperience {
    padding: 0px;
    height: 30px;
    width: 500px;
}

#ratingText {
    padding: 200px;
}
.container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }
  